<% include header %>
<body>
	<br>
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
	<div class="table-responsive">
        <table class="table">
        	<thead>
        		<tr class="danger">
        			<th>圖片</th>
		            <th>名稱</th>
		            <th>可食用部分</th>
		            <th>熱量</th>
		            <th>蛋白質</th>
		            <th>脂肪</th>
		            <th>膽固醇</th>
		            <th>膳食纖維</th>
		            <th>碳水化合物</th>
		            <th>維生素A</th>
		            <th>評價</th>
		            <th></th>
        		</tr>
        	</thead>
        	<tbody>
           		<tr class="success">
           			<td></td>
	                <td></td>
	                <td>%</td>
	                <td>千卡</td>
	                <td>克</td>
	                <td>克</td>
	                <td>克</td>
	                <td>克</td>
	                <td>克</td>
	                <td>微克</td>
	                <td>0~10</td>
	                <td></td>
            	</tr>
				<% vegArray.forEach(function (mv) { %>
                <tr class="info">
                	<td><img src=<%= mv.image %>></td>
                    <td><%= mv.name %></td>
					<td><%= mv.useEat %></td>
					<td><%= mv.heat %></td>
					<td><%= mv.protein %></td>
					<td><%= mv.fat %></td>
					<td><%= mv.cholesterol %></td>
					<td><%= mv.dietaryFiber %></td>
					<td><%= mv.carbohydrates %></td>
					<td><%= mv.vitaminsA %></td>
					<td><%= mv.grade %></td>
					<td>
						<form action="/text" method="get">
							<input type="hidden" name="getId" value="<%= mv.ID %>">
							<input type="hidden" name="fOv" value="0">
							<input type="submit" class="btn btn-success" name="send" value="查看評語">
						</form>
					</td>
                </tr>
            	<%
        		})
        		%>
			</tbody>
    	</table>
    </div>
<% include footer %>