<% include header %>
<body>
	<br>
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
	<div class="table-responsive">
        <table class="table">
        	<thead>
        		<tr class="danger">
        			<th>圖片</th>
		            <th>名稱</th>
		            <th>水份</th>
		            <th>纖維</th>
		            <th>鈣</th>
		            <th>磷</th>
		            <th>鐵</th>
		            <th>維生素B1</th>
		            <th>維生素B2</th>
		            <th>維生素C</th>
		            <th>評價</th>
		            <th></th>
        		</tr>
        	</thead>
        	<tbody>
           		<tr class="success">
           			<td></td>
	                <td></td>
	                <td>公克</td>
	                <td>公克</td>
	                <td>毫克</td>
	                <td>毫克</td>
	                <td>毫克</td>
	                <td>毫克</td>
	                <td>毫克</td>
	                <td>毫克</td>
	                <td>0~10</td>
	                <td></td>
            	</tr>
				<% fruArray.forEach(function (mv) { %>
                <tr class="info">
                	<td><img src=<%= mv.image %>></td>
                    <td><%= mv.name %></td>
					<td><%= mv.water %></td>
					<td><%= mv.fiber %></td>
					<td><%= mv.calcium %></td>
					<td><%= mv.phosphorus %></td>
					<td><%= mv.iron %></td>
					<td><%= mv.vitaminsB1 %></td>
					<td><%= mv.vitaminsB2 %></td>
					<td><%= mv.vitaminsC %></td>
					<td><%= mv.grade %></td>
					<td>
						<form action="/text" method="get">
							<input type="hidden" name="getId" value="<%= mv.ID %>">
							<input type="hidden" name="fOv" value="1">
							<input type="submit" class="btn btn-success" name="send" value="查看評語">
						</form>
					</td>
                </tr>
            	<%
        		})
        		%>
			</tbody>
    	</table>
    </div>
<% include footer %>